body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
}



a {
    text-decoration: none;
    color: #1a1a1a;
}





.title-text {
    color: #000;
}

.title-text a {
    color: #000;
    font-weight: 300;
}



.breadcrump {
    text-transform: uppercase;
    font-size: 13px;
}



.big-text {
    font-size: 70px;
    font-weight: 900;
}

@media (max-width: 992px) {
    .big-text {
        font-size: 40px;
        font-weight: 900;
        text-align: center;
    }

    .title-text__inner {
        margin-top: 20px;
        font-size: 32px;
    }

}

.medium-text {
    font-size: 40px;
}

.normal-text {
    font-size: 20px;
}

.small-text {
    font-size: 10px;
}

.price-text {
    font-size: 20px;
    color: #B12704;
    font-weight: 900;
}

.intro-text {
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    line-height: 28px;
    font-weight: 400;
}

@media (max-width: 768px) {
    .intro-text {
        text-align: center;
    }


}

@media (max-width: 768px) {
    .navbar-nav {
        padding: 0 20px;
        border-top: 1px solid #333;
    }

    .navbar-toggler {
        /* margin-bottom: 5px; */
        margin-right: 5px;
        /*  */
    }
}

/*TEXT COLOR*/
.tw {
    color: #fff
}

/* HELPERS */




.hero {
    position: relative;
    height: 100vh;
    display: flex;
    width: 100%;
    max-height: 400px;
    align-items: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0.7));
    background-size: cover;
    overflow: hidden;

}

.hero:after {
    content: ' ';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.8;

}

.hero--small {
    height: 450px;
    text-align: center;
}

.hero__content {
    padding: 30px;
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    z-index: 1;
    position: relative;
}

.hero__content h1,

.hero__content p {
    color: #fff;
}

#bg-video {
    position: absolute;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
    top: 0;
}

.button {
    padding: 18px 28px;
    background: #dc3545;
    color: #fff;
    display: inline-block;
    border-radius: 4px;
    margin-top: 20px;
}

.button:hover {
    color: #fff;
}

@media (max-width: 768px) {
    .button {

        display: block;
    }
}


.button-move {
    animation: rotate_effect 5s infinite ease-in-out;
}

@keyframes rotate_effect {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(0deg);
    }

    40% {
        transform: rotate(5deg);
    }

    60% {
        transform: rotate(-5deg);
    }

    80% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.card-img-top {
    padding: 10px;
    width: 100%;
    height: 70vh;
    object-fit: contain;
}


.cart-info h2 {
    font-weight: 900;
    font-size: 36px;
}

.cart-info-list h2 {
    font-weight: 100;
    font-size: 25px;
}

.cart-info p {
    font-weight: 300;
}

.cart-info span {
    font-size: 14px;

}

.price {
    border: 9px solid #dee2e6;
}


.bd-example {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;

}



@media (max-width: 768px) {
    .border {
        border: none !important;
        
    }
    .shadow-sm {
        box-shadow: unset !important;
    }

    .bd-example {
        padding: 0;



    }
}





.img-thumbnail__list {
    max-height: 100px;
}



@media (max-width: 768px) {
    .img-thumbnail__list {
        max-height: 400px;
    }
}




/* INNER GALLERY */

.inner-gallery {
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 1px;
    display: inline-block;
    overflow: hidden;
    object-fit: cover;
}